body{
    background-color: #333333;
    color: #FFEEC8;
    border: 1px solid;
    border-radius: 20px;
}

#topnav{
    display: flex;
    gap: 950px;
    background-color: #505050;
    border-radius: 15px;
    /* padding: 1px; */
    
}

#avella{
    font-size: 35px;
    margin-left: 100px;
}

#home{
display: flex;
justify-content: center;
gap: 20px;
font-size: 22px;
margin-right: 100px;
}

#livingroom{
    display: flex;
    justify-content: space-between;
}

#custom{
font-size: 70px;
margin-left: 100px;   
}

#production{
font-size: 20px;
margin-left: 100px;
}

#order{
    margin-left: 100px;
    padding: 20px;
    border-radius: 15px;
}

#exclusive{
    display: flex;
    gap: 700px;
}


#image{
    margin-right: 100px; 
}

#life{
    font-size: 60px;
}

#ideas{
    margin-right: 300px;
    font-size: 20px;
}

#fixed{
    display: flex;
    justify-content: center;
}

#materials{
    margin-left: 100px; 
    font-size: 60px;
}
#we{
    font-size: 20px;
    margin-left: 100px; 

}

#wood{
    margin-top: 100px;
}
#stone{
     margin-top: 50px;
}

#metal{
    margin-top: 35px;
}

#glass{
    margin-top: 50px;  
}
#concrete{
    margin-top: 80px;
}

#project{
    font-size: 60px;
    text-align: center;
}

#twofurnitures{
    display: flex;
    justify-content: center;
    gap: 40px;
}

#threefurnitures{
display: flex;
justify-content: center;
gap: 25px;
}

#work{
    
}

#how{
display: flex;
gap: 500px;
}
#topic1{
    font-size: 50px;
}

#topic2{
    font-size: 30px;
}

#topic3{
    font-size: 30px;
}

#topic{
    font-size: 30px;
}

#topic3{
    font-size: 30px;
}

#topic4{
    font-size: 30px;
}

#topic5{
    font-size: 30px;
}

#topic6{
    font-size: 30px;
}

#topic7{
    font-size: 25px;
}

#lights{
    margin-left: 100px;
}

#Clients{
    font-size: 60px;
    text-align: center; 
}

#greysit{
    border-radius: 15px;
}

#feedback{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
    background-color: #505050;
    border-radius: 60px;
    padding: 2px;
    width: 900px;
    margin-left: 27%;
}

#bed{
    border-radius: 15px;
}


#contactus{
    font-size: 50px;
}

#info{
    display: flex;
    gap: 400px;
}

#whitesit{
    border-radius: 15px; 
}


#mirror{
    border-radius: 15px;
}

#down{
    background-color: rgb(50, 48, 48);
}

#form{
    font-size: 20px;
}

#sits{
    border-radius: 15px; 
}

#phone{
    padding: 12px;
    border: #FFEEC8;
    background-color: #505050;
    border-radius: 5px;
}

#concrete{
    border-radius: 20px;
}

#glass{
    border-radius: 15px;
}

#waters{
    border-radius: 15px;
}

.input{
    background-color: #505050;
    color: #999999;
    padding: 20px;
    width: 520px;
    border: solid #FFEEC8;
}

#pendant{
margin-left: 100px;
border-radius: 15px;
}

#corridor{
    border-radius: 15px; 
}

#av{
    font-size: 35px;
    margin-left: 100px;
}  


#end{
    display: flex;
    font-size: 22px;
    gap: 650px;

}

#right{
    margin-left: 100px; 
display: flex;
gap: 30px;
}

#number{
    font-size: 30px;
    margin-right: 70px;
}
#foooter{
    display: flex;
    gap: 1300px;
}
#furniture{
    margin-top: 20px;
}

#co{
    font-size: 22px; 
    margin-left: 100px;

}

#icons{
    margin-left: 100px;
    display: flex;
}

#done{
    display: flex;
    gap: 1150px;
}